<div class="navBar">
  
  <!-- big nav -->
  
  <div class="navContainer flexRow flexAround">
    <h3 class="navItem whtTxt" ui-sref="beers">Our Beer</h3>
    <h3 class="navItem whtTxt" ui-sref="brewery">Brewery</h3>
    <div class="navLogoSpacer">
      
    </div>
    <h3 class="navItem whtTxt" ui-sref="about">About Us</h3>
    <h3 class="navItem whtTxt" ui-sref="locations">Locations</h3>
  </div>
  
  
  <!-- little nav -->

<div class="littleNavContainer flexRow">
  <div class="smallLogoHolder faded" id="smallLogo">
      <div class="burgerBar"></div>
      <div class="burgerBar"></div>
      <div class="burgerBar"></div>
  </div>

<div class="littleNavHolder flexColumn ">
  
  <h4 class="navItem whtTxt" ui-sref="beers">Our Beer</h4>
  <h4 class="navItem whtTxt" ui-sref="brewery">Brewery</h4>
  <h4 class="navItem whtTxt" ui-sref="about">About Us</h4>
  <h4 class="navItem whtTxt" ui-sref="locations">Locations</h4>
</div>
</div>


</div>

<div class="logoContainer">
  <img src="app/images/brbLogoXtraSmall.png" alt="logo" ui-sref="beers" class="logo">
  </div>

  
  
  
