    <nav></nav>
<div class="bkgrd">
  <div class="gradient">
  </div>
</div>

<div class="navSpacer"></div>
<div class="logoSpacer"></div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12">
      <div class="singleColumn whtTxt">
        <img src="app/images/porterPic.png" class="portrait" alt="">
          <p class="mainPrgph">My reason for starting a brewery is because I love the fact I can create and brew any beer my mind can come up with. I started home brewing 5 yrs ago with extract kits moved to all grain and decided I can do a nano brewery 1 bbl system.
          </p>
          <br>
          <p class="mainPrgph">
              I learned how to brew beer by reading books, anything I could find. Started on a beercation brewery trek through Iowa, Minnesota, Nebraska and Wisconsin. Talking to and asking questions to their brewers. Brewers are all willing to share and help other
              brewers. That's what I really appreciate. Brewers are friendly and open community.
          </p>
          <br>
          <p class="mainPrgph">
              Fall 2016 traveled to Germany and Austria for 2 weeks of brewery and Oktoberfest tours. Comparing their ways of making beers. Many of these breweries hundreds of years old still bottle condition instead of CO2 carbonation.
          </p>
          <br>
          <p class="mainPrgph">
              Finally, the best part of brewing beer is to share it with people who love it and appreciate the quality and taste of my beers.
          </p>
          <br>
          <p class="mainPrgph">
              So try my beers I hope to see you at the locations that will serve my beers. Cheers or as they say in Germany Prost!
          </p>

      </div>
    </div>

    
    
  </div>
</div>

