    <nav></nav>
<div class="bkgrd">
  <div class="gradient">
  </div>
</div>

<div class="navSpacer"></div>
<div class="logoSpacer"></div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12">
      <div class="singleColumn whtTxt">
        <img src="app/images/porterPic.png" class="portrait" alt="">
          <p class="mainPrgph">My passion for great tasting beer and the search for robust and rich flavors led me to creating and brewing my own.  I started out five years ago, brewing in my basement and sharing my beers with family and friends.
          </p>
          <br>
          <p class="mainPrgph">My love for beer and thirst for knowledge took me on a "beercation" brewery trek through Iowa, Minnesota, Nebraska and Wisconsin.  I also recently traveled internationally to the birthplace of beer-Germany.  Through those experiences, I spoke with brewmasters, saw what worked and what didn't and learned a great deal to take back to my own brewery.  
          </p>
          <br>
          <p class="mainPrgph">The best part of  brewing beer is sharing it with those who love and appreciate the quality and time that goes into making something great. 
          </p>
          <br>
          <p class="mainPrgph">I hope to see you at the locations proudly serving my beers.  Cheers!  Or has they say in Germany Prost! Prost! Prost!
          </p>
          <br>
          <p class="mainPrgph">BackRoad Brewery LLC is the first brewery in Warren Co, Iowa. Our production nano brewery will be located in remodeled 2 story brick building built 1901.  Located in the downtown area of Carlisle, Iowa population 3,700 and 10 min away from Des Moines, Iowa metro area.
          </p>
          <br>
          <p class="mainPrgph">We were established with the sole aim of selling locally unique brewed beer in different flavors to our highly esteemed customers in the Des Moines area and surrounding areas.  Our mission is to establish a nano brewery business that will make available assorted locally uniquely brewed beer for lovers of locally brewed beer in Carlisle, IA and in all locations s where our beers will be distributed.
          </p>
          <br>
          <p class="mainPrgph">BackRoad Bewery LLC is perhaps one of the few nano brewery companies in Des Moines area with the ability to create and brew numerous styles and flavor profiles of craft beers.
          </p>
          <br>
          <p class="mainPrgph">There will not be a tap room currently, but may be in the future.
          </p>
          <br>
          
      </div>
    </div>

    
    
  </div>
</div>

