.portrait {
    float: left;
    margin: 0 10px 10px 0;
       box-shadow: 5px 5px 20px $blk;
}

.unalignedPortrait {
       box-shadow: 5px 5px 20px $blk;
}

.centerDiv{
      margin: 0 auto;
      height: 300px;
      width: 400px;
    margin-bottom: 20px;
      
}

.portraitRight {
    float: right;
    margin: 10px 10px 10px 0;
       box-shadow: 5px 5px 20px $blk;
}

.storyHolder{
  width: 90%;
  padding-left: 20px;
}

.storyTitle{
  margin: 0 0 20px 0;
}

.story{
  line-height: 130%;
}

.singleColumn{
  margin: 0 auto;
  max-width: 600px;
}

.mainPrgph{
    line-height: 150%;
}