    <nav></nav>
<div class="bkgrd">
  <div class="gradient">
  </div>
</div>
<div class="navSpacer"></div>
<div class="logoSpacer"></div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12">
      <div class="singleColumn whtTxt">
        <div class="centerDiv">
            <img class="unalignedPortrait" src="app/images/about.jpg" alt="">
        </div>
      
        <p class="mainPrgph">My name is Eric Moorman and I grew up in Indianola on a farm just south of where I am currently brewing. I met my lovely wife, Cynthia, of 30 years through our involvement in 4-H. After high school, I enlisted in the Marine Corps and answered my countries call to arms in the Persian Gulf War.  After serving six years in the Marine Corps, I moved home and have been a police officer Des Moines PD for 23 years. We currently reside in Carlisle where I have a son and daughter and two wonderful grandchildren.</p>
        <br>
        <p class="mainPrgph">My brewery is a unique two-story brick building located in historical downtown Carlisle.  We are one of the few nano brewery companies in Des Moines area with the ability to create and brew numerous styles and flavor profiles of craft beers. Our brewery will distribute our unique small batch beers to Des Moines area metro bars and restaurants. </p>
        <br>
        <p class="mainPrgph">We hope to eventually grow into a tap room for everyone to come visit and enjoy our beer! </p>
      </div>
      
    </div>
    <br>
    </div>

    
    
  </div>
</div>

