    <nav></nav>
<div class="bkgrd">
  <div class="gradient">
  </div>
</div>
<div class="navSpacer"></div>
<div class="logoSpacer"></div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-12">
      <div class="singleColumn whtTxt">
        <div class="centerDiv">
            <img class="unalignedPortrait" src="app/images/about.jpg" alt="">
        </div>
      
        <p class="mainPrgph">I am currently police officer in DSM Metro Area for last 23 yrs and will be eligible retire in 2022. Married to my lovely wife Cynthia for 30 yrs who loves IPAs and Stouts. I have son and daughter and 2 grand children. Served US Marine Corps 6 yrs Persian Gulf War veteran.</p>
        <br>
        <p class="mainPrgph">We are starting out with a nano production brewery to self distribute our unique small batch beers to Des Moines area metro bars and restaurants. So for the moment we will not have a tap room. But depending on how it goes a tap room is a possibility in the future. My brewery is a 2 story brick building built in 1901 downtown Carlisle, Iowa. </p>
      </div>
    </div>

    
    
  </div>
</div>

