    <nav></nav>

<div class="bkgrd">
  <div class="gradient">
  </div>
</div>
    <div class="navSpacer"></div>
    
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/honeyImHome.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Honey I'm Home</h3>
            <p class="whtTxt beerParagraph faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis. </p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/Mudslinger.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Mudslinger</h3>
            <p class="whtTxt beerParagraph faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis. </p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/dizzyBlonde.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Dizzy Blonde</h3>
            <p class="whtTxt beerParagraph faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis. </p>
          </div>
        </div>
        
      </div>
    </div>

    
