    <nav></nav>
<div class="bkgrd">
  <div class="gradient">
  </div>
</div>
<div class="navSpacer"></div>
<div class="logoSpacer"></div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-6 ">
      <div class="storyHolder">
        <h3 class="whtTxt faded storyTitle">Our Process</h3>
        <img class="portrait" src="app/images/Water-Trophy.jpg" alt="">
        <p class="whtTxt faded story">Our beer starts where any great beer should start, with it's ingredients.  We use only the finest ingrediants, starting with water.  <a href="http://carlisleiowa.org/carlisle-competes-nationally-at-great-american-water-taste-test/">Carlisle </a>is not only home to the best water in Iowa, but is in competition for the best in the world. </p>
        <br>
        <p class="whtTxt faded story">Our grain is bla bla bla stuff and such. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis.</p>
        <br>
        <p class="whtTxt faded story">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis.</p>
        <img class="portraitRight" src="app/images/barley.jpg" alt="">
        <br>
        <p class="whtTxt faded story">Consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis.</p>
        <br>
        <p class="whtTxt faded story">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare aliquet consequat. Nam in nulla mattis, bibendum turpis non, malesuada ligula. Sed viverra bibendum pharetra. Nunc at vestibulum risus. Praesent eu nibh turpis.</p>

      </div>
    </div>
    
    <div class="col-md-6 ">
      <div class="storyHolder">
        <h3 class="whtTxt faded storyTitle">Our Master Brewer</h3>
        <img class="portrait" src="app/images/placeholder2.jpg" alt="">
        <p class="whtTxt faded story">Beer should be good.  <br><br> I make good beer.  <br><br> You should try some. </p>
                
      </div>
    </div>
    
    
  </div>
</div>

