    <nav></nav>

<div class="bkgrd">
  <div class="gradient">
  </div>
</div>
    <div class="navSpacer"></div>
    
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/honeyImHome.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Honey I'm Home</h3>
            <p class="whtTxt beerParagraph faded">Unique IPA "juicy" citrus aromatics and flavored by 4 different hop varieties and locally harvested raw honey. This is one that will convert many to IPAs that say they don't like them.  </p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/Mudslinger.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Mudslinger</h3>
            <p class="whtTxt beerParagraph faded">Ebony in color with a rich creamy head. The mellow flavors of various chocolate malts, and real cacao nibs in secondary process are balanced perfectly with the right amount of hops for a bittersweet finish. Chocolate Stout is brewed with award winning Carlisle aquafier natural water.</p>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="flexColumn">
            <div class="beerLabelContainer">
              <img class="beerLabel" src="./app/images/dizzyBlonde.png" alt="">
            </div>
            <h3 class="centerTxt whtTxt faded">Dizzy Blonde</h3>
            <p class="whtTxt beerParagraph faded">Crisp refreshing easy drinking blonde ale with hints of Madagascar bourbon vanilla beans.  </p>
          </div>
        </div>
        
      </div>
    </div>

    
