<nav></nav>
<div class="bkgrd">
    <div class="gradient">
    </div>
</div>
<div class="navSpacer"></div>

<!-- map div -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 flexColumn">
            <div class="logoSpacer"></div>

            <map></map>
            
        </div>
    </div>
  </div>
  
  
  <div class="container-fluid mapKeyContainer">
    <div class="row ">
      
      <div class="infoBit col-md-4">
          <h4 class="centerTxt whtTxt">Back Road Brewery</h4>
          <p class="centerTxt whtTxt addressMargin">140 N. 1st St <br>Carlisle, IA 50047</p>
      </div>
      
      <div class="infoBit col-md-4">
          <h4 class="centerTxt whtTxt">Phone: 123-456-7890</h4>
          <p class="addressMargin whtTxt centerTxt">E-Mail: backroadbeer@gmail.com</p>

      </div>
      
      <div class="infoBit col-md-4">
          <form name="placePicker" class="flexColumn flexCenter">
              <label class="pickerLabel centerTxt whtTxt" for="placePicker">Find our beer at:</label>
              <select class="locationSelector" name="placePick" ng-options="option.name for option in thislist.availableOptions track by option.id" ng-model="currentL">
                  </select>
              <p>{{thisList.selectedOption.location}}</p>
              <div class="goToLocation" ng-click="switchPicker()">
                  <p class=" centerTxt"> submit</p>
              </div>
          </form>

      </div>
      
    </div>
  </div>
  
  








